# Per gestione WSL, VSCode e IntelliJ
* text=auto eol=lf

*.java text eol=lf
*.js text eol=lf
*.vue text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.pdf binary
*.docx binary
*.odt binary
*.zip binary

/backend/mvnw text eol=lf
/backend/*.cmd text eol=crlf
